@font-face {
  font-family: "Somatic-Rounded";
  src: "../fonts/Somatic-Rounded.otf";
}
@font-face {
  font-family: "Quicksand-Regular";
  src: "../fonts/Quicksand-Regular.otf";
}
@font-face {
  font-family: "fontawesome";
  src: "../fonts/font-awesome/fonts/FontAwesome.otf";
}
/*basic reset*/
* {margin: 0; padding: 0;}
html{height: 100%}
body{margin:0 auto}
.spacer{margin-top: 20px}

.title-heading{text-align: center;margin: 20px auto}
#header{;height:100vh;height: 100vh;background-size:cover;background-repeat: no-repeat; }
#authentication-container{text-align:center;float: right;color: #fff;font-family: "Somatic-Rounded";}
#authentication-container .link{color: #fff;text-decoration: none;text-transform: uppercase;margin: 0 5px;text-shadow: 1px 1px 10px black}
#authentication-container .link:hover{text-decoration: underline;}
#authentication-container #service-btn{display:block;margin-top:5px;background-color:#073a86;padding: 9px 13px;color: #fff;text-transform: uppercase;text-decoration: none;}
#nav-bar{clear: both;top: 350px;position: absolute;left: 0;right: 0;}
#nav-bar #title{margin:0px;font-family: "Somatic-Rounded";font-size: 120px;text-align: center;color: #fff;text-shadow: black 0px 2px 15px;font-weight: 200;}
#text-ccm-l{color:#fff;background-color:#181f68;background-clip:content-box;background-position: left 100px bottom 100px;padding: 50px}
#text-ccm-r{color:#fff;background-color:#3a96c7;background-clip:content-box;background-position: right 100px bottom 100px;padding: 50px}


/* SMARTPHONES */
@media (max-width: 767px) { 
	#nav-bar{top:300px;}
    #title{font-size: 70px!important}
    #authentication-container{float: none}
	#text-ccm-l h2, #text-ccm-r h2{font-size: 30px;padding:35px;}
	#text-ccm-l p, #text-ccm-r p{font-size: 20px;padding:35px;}
	#text-ccm-l, #text-ccm-r{background-size: 80px;background-position: left 30px bottom 150px;}
	#text-ccm-l{background-position: left 30px bottom 150px;}
	#text-ccm-r{background-position: right 30px bottom 130px;}
}

/* TABLETTES */
@media (min-width: 768px) and (max-width: 991px) {
	#text-ccm-l h2, #text-ccm-r h2{font-size: 40px;padding:35px;}
	#text-ccm-l p, #text-ccm-r p{font-size: 20px;padding:35px;}
	#text-ccm-l, #text-ccm-r{background-size:80px}
	#text-ccm-l{background-position: left 30px bottom 150px;}
	#text-ccm-r{background-position: right 30px bottom 130px;}
}

/* SMALL DESKTOP */
@media (min-width: 992px) and (max-width: 1199px) {
	#text-ccm-l h2, #text-ccm-r h2{font-size: 40px;padding:25px;}
	#text-ccm-l p, #text-ccm-r p{font-size: 20px;padding:25px;}
	#text-ccm-l, #text-ccm-r{background-size:100px}
}

/* LARGE DESKTOP */
@media (min-width: 1200px) {
	#text-ccm-l h2, #text-ccm-r h2{font-size: 30px;padding:35px;}
	#text-ccm-l p, #text-ccm-r p{font-size: 25px;padding:35px;}
	#text-ccm-l, #text-ccm-r{background-size:120px}
}

/* SLIDER BLOCK */

.bx-wrapper{border: none!important;box-shadow: none}
.domaines{display:table;height:581px;padding:5px;text-align:center;background-repeat: no-repeat;background-clip: content-box;background-size: cover }
.domaines a{font-weight: 300;display:table-cell;vertical-align:middle;color:#fff;text-decoration:none;font-size:29px;font-weight: bold;text-shadow:1px 1px 5px #000;font-family: "Quicksand-Regular"}

/* END SLIDER BLOCK */


/* LOGIN BLOCK */

#login-lightbox{display: none}

/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}

/* END LOGIN BLOCK */




/* Souscription */



/***
Content
***/
.content {
	padding: 30px 0;
}

/***
Pricing table
***/
.pricing {
	position: relative;
	margin-bottom: 15px;
	border: 3px solid #eee;
}

.pricing-active {
	border: 3px solid #1A9EE0;
	margin-top: -10px;
	box-shadow: 7px 7px rgba(54, 215, 172, 0.2);
}

.pricing:hover {
	border: 3px solid #1A9EE0;
}

.pricing:hover h4 {
	color: #1A9EE0;
}

.pricing-head {
	text-align: center;
}

.pricing-head h3,
.pricing-head h4 {
	margin: 0;
	line-height: normal;
}

.pricing-head h3 span,
.pricing-head h4 span {
	display: block;
	margin-top: 5px;
	font-size: 14px;
	font-style: italic;
}

.pricing-head h3 {
	font-weight: 300;
	color: #fafafa;
	padding: 12px 0;
	font-size: 27px;
	background: #1A9EE0;
	border-bottom: solid 1px #1A9EE0;
}

.pricing-head h4 {
	color: #bac39f;
	padding: 5px 0;
	font-size: 54px;
	font-weight: 300;
	background: #fbfef2;
	border-bottom: solid 1px #f5f9e7;
}

.pricing-head-active h4 {
	color: #1A9EE0;
}

.pricing-head h4 i {
	top: -8px;
	font-size: 28px;
	font-style: normal;
	position: relative;
}

.pricing-head h4 span {
	top: -10px;
	font-size: 14px;
	font-style: normal;
	position: relative;
}

/*Pricing Content*/
.pricing-content li {
	color: #888;
	font-size: 12px;
	padding: 7px 15px;
	border-bottom: solid 1px #f5f9e7;
}

/*Pricing Footer*/
.pricing-footer {
	color: #777;
	font-size: 11px;
	line-height: 17px;
	text-align: center;
	padding: 0 20px 19px;
}

/*Priceing Active*/
.price-active,
.pricing:hover {
	z-index: 9;
}

.price-active h4 {
	color: #1A9EE0;
}

.no-space-pricing .pricing:hover {
	transition: box-shadow 0.2s ease-in-out;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
	color: #1A9EE0;
	padding: 15px 0;
	font-size: 80px;
	transition: color 0.5s ease-in-out;
}

.yellow-crusta.btn {
	color: #FFFFFF;
	background-color: #EFB129;
}
.yellow-crusta.btn:hover,
.yellow-crusta.btn:focus,
.yellow-crusta.btn:active,
.yellow-crusta.btn.active {
	color: #FFFFFF;
	background-color: #EFB129;
}