<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Hopjob {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />       

        {% block stylesheet %}   
            {% stylesheets '@FrontBundle/Resources/public/css/*' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}   
            {% stylesheets '@AdminBundle/Resources/public/css/*' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}        

        {% block javascripts %}
            {% javascripts '@FrontBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@AdminBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        {% if app.user %}
            {% include('FrontBundle::nav.html.twig') %}
        {% endif %}
        {% block body %}{% endblock %}

    </body>
</html>
